* {
    margin: 0;
    padding: 0;
}

html body {
    height: 200px;
    width: 200px;
    background-color: lightsteelblue;
}

.header {
    display: grid;
    width: 100%;
    height: 50px;
}

.name {
    width: 100%;
    text-align: center;
}

.switch {
    display: grid;
    width: 150px;
    height: 30px;
}

.switch-on {
    grid-column: 1;
    border-right: 0;
}

.switch-off {
    grid-column: 2;
    border-left: 0;
}

.refresh {
    width: 150px;
    height: 30px;
}

.btn {
    border-radius: 0;
    border-color: aqua;
    background-color: coral;
    box-shadow: none;
}

.btn:hover {
    border-radius: 0;
    opacity: 70%;
}

.activated-btn {
    background-color: aqua;
}