* {
  margin: 0;
  padding: 0;
}

body {
  height: 500px;
  width: 280px;
  border: 2px solid #F7F7FF;
  background-color: #1f2c36;
  color: #F7F7FF;
  font-family: 'Varela Round', sans-serif;
}

.content {
  display: -ms-grid;
  display: grid;
}

.header {
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  height: 50px;
  padding-top: 10px;
}

.name {
  text-align: center;
  font-size: 38px;
  font-weight: 900;
  font-style: italic;
  font-family: 'Russo One', sans-serif;
  color: #F7F7FF;
}

.toggle-btns {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  padding: 0px 10px 10px 10px;
  gap: 10px;
}

button {
  border: none;
  height: 30px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  font-family: 'Varela Round', sans-serif;
  background-color: #EA526F;
  color: #F7F7FF;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

button:active {
  -webkit-box-shadow: inset 0px 0px 3px #1f2c36;
          box-shadow: inset 0px 0px 3px #1f2c36;
}

button:hover {
  background-color: #d43d59;
}

.refresh {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.switch {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
}

.switch button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.switch-on {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  border: 2px solid #EA526F;
  border-right: 0;
  border-top-left-radius: 10px;
}

.switch-off {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  border: 2px solid #EA526F;
  border-left: 0;
  border-bottom-right-radius: 10px;
}

.active {
  background-color: #1f2c36;
  color: #F7F7FF;
}

.active:hover {
  background-color: #3b4a55;
}

.sites {
  -ms-grid-row: 3;
  grid-row: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  margin: 10px 10px 10px 10px;
  height: 25px;
  gap: 10px;
}

.site-inp {
  -ms-grid-row: 1;
  grid-row: 1;
  width: 160px;
  border: 2px solid #EA526F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding-left: 5px;
  background-color: #1f2c36;
  color: #F7F7FF;
  font-family: 'Varela Round', sans-serif;
}

.site-inp::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.452);
}

.site-inp:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.452);
}

.site-inp::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.452);
}

.site-inp::placeholder {
  color: rgba(255, 255, 255, 0.452);
}

.site-inp[type="text"] {
  font-size: 14px;
}

.site-inp:focus {
  border: 2px solid #d43d59;
}

.add-site {
  -ms-grid-row: 1;
  grid-row: 1;
  height: 100%;
}

.tabs {
  margin: 0 10px 10px 10px;
}

.tabs button {
  background: none;
  width: 49%;
}

.tab-btn-active {
  color: #EA526F;
  border: 2px solid #EA526F;
  border-bottom: 2px solid #1f2c36;
}

.tab-btn-inactive {
  border: 2px solid #EA526F;
}

.sites-cont {
  -ms-grid-row: 4;
  grid-row: 4;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  height: 280px;
}

.site-items {
  overflow-y: scroll;
  height: 200px;
}

.site-items div {
  display: -ms-grid;
  display: grid;
  height: 20px;
  margin-bottom: 10px;
  border: 3px solid #EA526F;
  border-radius: 5px;
  border-top: 0;
  border-bottom: 0;
  padding: 0 5px 0 5px;
}

.site-items::-webkit-scrollbar {
  display: none;
}

.site-items-inactive {
  display: none;
}

.sites-header {
  font-weight: 300;
  text-align: center;
  color: #F7F7FF;
  font-size: 18px;
  margin-bottom: 10px;
}

.site-name-txt {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: 16px;
  width: 190px;
  white-space: nowrap;
  overflow-x: scroll;
}

.site-name-txt::-webkit-scrollbar {
  display: none;
}

.del-site-btn {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  font-size: 16px;
  font-weight: 900;
  color: #EA526F;
  background: none;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.del-site-btn:hover {
  background: none;
}

.del-hint {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-top: 5px;
  color: #F7F7FF;
}

.del-site {
  font-size: 14px;
  font-weight: 900;
  color: #EA526F;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  gap: 10px;
  position: absolute;
  bottom: 0;
  padding: 0 4% 4% 4%;
  width: 80%;
  height: 25px;
}

.footer button {
  font-size: 14px;
  height: 25px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.donate {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100px;
  font-style: italic;
}

.suggestion {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 108px;
}

.settings {
  -ms-grid-column: 3;
  grid-column: 3;
  height: 30px;
  width: 30px;
  font-size: 20px;
}
/*# sourceMappingURL=popup.css.map */