// Colours
$cPink: #EA526F; //Paradise Pink
$cHPink: #d43d59;
$cBlack: #1f2c36; //Smoky Black
$cHBlack: #3b4a55;
$cWhite: #F7F7FF; //Ghost White
$cHWhite: #ffe4e9;
$cLBlue: #23B5D3; //Pacific Blue
$cBlue: #279AF1; //Dodger Blue


* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    color: $cWhite;
    font-weight: 300;
    font-size: 16px;
    transition-timing-function: linear;
}

body {
    height: 460px;
    width: 240px;
    border: 2px solid $cWhite;
    background-color: $cBlack;
    padding: 5px 15px 15px 15px;
}

h1 {
    width: 100%;
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-size: 38px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Russo One', sans-serif;
}

button {
    cursor: pointer;
    border: 0px;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    background-color: $cPink;
    color: $cWhite;
}

button:active {
    box-shadow: inset 0px 0px 3px $cBlack;
}

button:hover {
    background-color: $cHPink;
}

.toggle-btns {
    display: grid;
    gap: 10px;
}

.refresh {
    grid-row: 1;
    grid-column: 1;
}

.switch {
    grid-row: 1;
    grid-column: 2;
    display: grid;
}

.switch button:active {
    box-shadow: none;
}

.switch-on {
    grid-row: 1;
    grid-column: 1;
    border: 2px solid $cPink;
    border-right: 0;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.switch-off {
    grid-row: 1;
    grid-column: 2;
    border: 2px solid $cPink;
    border-left: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.active {
    background-color: $cBlack;
    color: $cWhite;
}

.active:hover {
    background-color: $cHBlack;
}

.sites {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
    margin: 15px 0px 15px 0px;
    height: 25px;
}

.site-inp {
    width: 180px;
    border: 2px solid $cPink;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    padding-left: 5px;
    background-color: $cBlack;
    color: $cWhite;
}

.site-inp::placeholder {
    color: rgba(255, 255, 255, 0.452);
}

.sites-header {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.sites-cont {
    height: 260px;
}

.tabs {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
}

.tabs button {
    background: none;
    grid-row: 1;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tab-left {
    border-bottom: 2px solid $cWhite;
}

.tab-right {
    border-bottom: 2px solid $cWhite;
}

.tab-btn-active {
    color: $cPink;
    border: 2px solid $cWhite;
    border-bottom: 2px solid $cBlack;
}

.tab-spacer {
    grid-row: 1;
    height: 22px;
    width: auto;
    border-bottom: 2px solid $cWhite;
}

.site-items {
    overflow-y: scroll;
    height: 190px;
}

.site-items div {
    display: grid;
    height: 20px;
    margin-bottom: 10px;
    border: 2px solid $cWhite;
    border-radius: 5px;
    border-top: 0;
    border-bottom: 0;
    padding: 0 5px 0 5px;
}

.site-items::-webkit-scrollbar {
    display: none;
}

.site-items-inactive {
    display: none;
}

.site-name-txt {
    grid-row: 1;
    grid-column: 1;
    font-size: 16px;
    width: 190px;
    white-space: nowrap;
    overflow-x: scroll;

}

.site-name-txt::-webkit-scrollbar {
    display: none;
}

.del-site-btn {
    grid-row: 1;
    grid-column: 2;
    font-size: 16px;
    font-weight: 900;
    color: $cPink;
    background: none;
    height: max-content;
}

.del-site-btn:hover {
    background: none;
}

.del-hint {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding-top: 5px;
    color: $cWhite;
}

.del-site {
    font-size: 14px;
    font-weight: 900;
    color: $cPink;
}

.footer {
    display: grid;
    gap: 10px;
    width: 240px;
    align-content: center;
    position: absolute;
    bottom: 10px;
}

.footer button:active {
    border-bottom: 0px;
}

.donate {
    grid-column: 1;
    font-style: italic;
}

.suggestion {
    grid-column: 2;

}

.settings {
    grid-column: 3;
}