// Colours
$cPink: #EA526F; //Paradise Pink
$cHPink: #d43d59;
$cBlack: #1f2c36; //Smoky Black
$cHBlack: #3b4a55;
$cWhite: #F7F7FF; //Ghost White
$cHWhite: #ffe4e9;
$cLBlue: #23B5D3; //Pacific Blue
$cBlue: #279AF1; //Dodger Blue


* {
    margin: 0;
    padding: 0;
}

body {
    height: 500px;
    width: 280px;
    border: 2px solid $cWhite;
    background-color: $cBlack;
    color: $cWhite;
    font-family: 'Varela Round', sans-serif;
}

.content {
    display: grid;
}

.header {
    grid-row: 1;
    width: 100%;
    height: 50px;
    padding-top: 10px;
}

.name {
    text-align: center;
    font-size: 38px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Russo One', sans-serif;
    color: $cWhite;
}

.toggle-btns {
    grid-row: 2;
    display: grid;
    padding: 0px 10px 10px 10px;
    gap: 10px;
}

button {
    border: none;
    height: 30px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    transition-duration: 0.4s;
    background-color: $cPink;
    color: $cWhite;
    cursor: pointer;

}

button:active {
    box-shadow: inset 0 0 3px $cBlack;
    transition-duration: 0.01s;
}

button:hover {
    background-color: $cHPink;
}

.refresh {
    grid-row: 1;
    grid-column: 1;
}

.switch {
    grid-row: 1;
    grid-column: 2;
    display: grid;
}

.switch button:active {
    box-shadow: none;
}

.switch-on {
    grid-row: 1;
    grid-column: 1;
    border: 2px solid $cPink;
    border-right: 0;
}

.switch-off {
    grid-row: 1;
    grid-column: 2;
    border: 2px solid $cPink;
    border-left: 0;
}

.active {
    background-color: $cBlack;
    color: $cWhite;
}

.active:hover {
    background-color: $cHBlack;
}

.sites {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 10px 10px 10px 10px;
    height: 25px;
    gap: 10px;
}

.site-inp {
    grid-row: 1;
    width: 160px;
    border: 2px solid $cPink;
    box-sizing: border-box;
    outline: none;
    padding-left: 5px;
    background-color: $cBlack;
    color: $cWhite;
    font-family: 'Varela Round', sans-serif;
}

.site-inp::placeholder {
    color: rgba(255, 255, 255, 0.452);
}

.site-inp[type="text"] {
    font-size: 14px;
}

.site-inp:focus {
    border: 2px solid $cHPink;
}

.add-site {
    grid-row: 1;
    height: 100%;
}

.sites-cont {
    grid-row: 4;
    margin: 0px 10px 0px 10px;
    padding: 0 10px 0 10px;
    height: 280px;
    border: 2px solid $cPink;
    border-top: 0px;
    border-bottom: 0px;
}

.site-text {
    overflow: scroll;
}

.sites-cont div {
    display: grid;
    height: 20px;
    margin-bottom: 10px;
}

.site-name-txt {
    grid-row: 1;
    grid-column: 1;
    overflow: hidden;
    font-size: 16px;
    width: 200px;
}

.del-site-btn {
    grid-row: 1;
    grid-column: 2;
    font-size: 16px;
    font-weight: 900;
    color: $cPink;
    background: none;
    padding-right: 10px;
    height: max-content;
}

.del-site-btn:hover {
    background: none;
}

.sites-header {
    font-weight: 300;
    text-align: center;
    color: $cWhite;
}

.del-hint {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding-top: 5px;
    color: $cWhite;
}

.del-site {
    font-size: 14px;
    font-weight: 900;
    color: $cPink;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 0 4% 4% 4%;
    width: 80%;
    height: 30px;
}

.donate {
    grid-column: 1;
    width: 100px;
    font-style: italic;
}

.suggestion {
    grid-column: 2;
    width: 108px;
}

.settings {
    grid-column: 3;
    height: 30px;
    width: 30px;
    font-size: 20px;
}