// Colours
$cPink: #EA526F; //Paradise Pink
$cHPink: #c42f4a;
$cBlack: #070600; //Smoky Black
$cWhite: #F7F7FF; //Ghost White
$cHWhite: #ffe4e9;
$cLBlue: #23B5D3; //Pacific Blue
$cBlue: #279AF1; //Dodger Blue



* {
    margin: 0;
    padding: 0;
}

body {
    height: 500px;
    width: 280px;
    background-color: $cWhite;
    border: 2px solid $cBlue;
    font-family: 'Roboto';
}

.content {
    display: grid;
}

.header {
    grid-row: 1;
    width: 100%;
    height: 50px;
    padding-top: 15px;
}

.name {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

.toggle-btns {
    grid-row: 2;
    display: grid;
    padding: 0px 10px 10px 10px;
    gap: 10px;
}

.btn {
    border: none;
    height: 30px;
    font-size: 16px;
    text-align: center;
    transition-duration: 0.4s;
    background-color: $cWhite;
    color: $cBlack;
    cursor: pointer;
}

.btn:hover {
    background-color: $cHWhite;
}

.refresh {
    grid-row: 1;
    grid-column: 1;
}

.refresh:active {
    box-shadow: inset 0 0 5px $cWhite;
    transition-duration: 0.01s;
}

.switch {
    grid-row: 1;
    grid-column: 2;
    display: grid;
}

.switch-on {
    grid-row: 1;
    grid-column: 1;
    border: 2px solid $cPink;
    border-right: 0;
}

.switch-off {
    grid-row: 1;
    grid-column: 2;
    border: 2px solid $cPink;
    border-left: 0;
}

.active {
    background-color: $cPink;
    color: $cWhite;
}

.active:hover {
    background-color: $cHPink;
    color: $cWhite;
}

.sites {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 10px 10px 10px 10px;
    height: 25px;
    gap: 10px;
}

.site-inp {
    grid-row: 1;
    width: 160px;
    border: 1px solid $cPink;
    box-sizing: border-box;
    outline: none;
    padding-left: 5px;
}

.site-inp[type="text"] {
    font-size: 16px;
}

.site-inp:focus {
    border: 1px solid $cHPink;
}

.add-site {
    grid-row: 1;
    height: 100%;
}

.add-site:active {
    box-shadow: inset 0 0 5px $cWhite;
    transition-duration: 0.01s;
}

.sites-cont {
    grid-row: 4;
    border: 2px solid $cBlue;
    margin: 0px 10px 0px 10px;
    height: 300px;
}